mixin footer()
    footer.ui-footer
        .container
            .row.align-items-center
                .col-12.col-md-6.col-lg-4
                    a.ui-logo(href="/")
                        img(src="/static/images/logo.png", alt="")
                .col-12.col-md-6.col-lg-4
                    a.ui-email(href="info@steamulus.ru") info@steamulus.ru
                    a.ui-phone(href="tel:84999187720") 8 (499) 918-77-20
                .col-12.col-md-6.col-lg-1.offset-lg-3
                    .ui-social
                        .ui-social__item
                            a.ui-social__link.ui-social__link--vk(href="#")
                                +svg('vk')

                        .ui-social__item
                            a.ui-social__link.ui-social__link--fb(href="#")
                                +svg('fb')