//fonts
//font: [font-style||font-variant||font-weight] font-size [/line-height] font-family | inherit
$font-default: 'Roboto', sans-serif;
$font-condensed: 'Roboto Condensed', sans-serif;

//colors from hovermap


//colors for project
$dark-blue: #16335a;
$orange: #ff8558;
$yellow: #ffca26;
$dark-grey: #555555;
$gray: #777777;
$light-gray: #999999;
$white-smoke: #f8f8f8;
$dark-blue-80: rgba(22, 51, 90, 0.8);
$link-water: #cbd1d8;
$navy-blue: #005fdf;

//other variables