.ui-achievement-cart {
    display: flex;
    &__image {
        width: 50%;
        background: gray;
    }
    &__content {
        background: linear-gradient(45deg, $orange, $yellow);
        width: 50%;
        color: white;
        position: relative;
        overflow: hidden;
        padding: 40px 0 60px;
        text-align: center;
    }
    &__text {
        font-size: 44px;
        letter-spacing: 0.75px;
        font-weight: 900;
        text-align: center;
        span {
            display: block;
            font-size: 22px;
            font-weight: 700;
            letter-spacing: 0px;
        }
    }
    &__link {
        color: white;
        position: absolute;
        bottom: 0;
        right: 0;
        display: inline-flex;
        width: 46px;
        height: 49px;
        text-decoration: none;
        font-size: 30px;
        line-height: 16px;
        font-weight: bold;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 5px;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, $dark-blue 50%, $dark-blue 100%);

        &:hover {
            color: $orange;
        }
    }
}