.ui-button {
  font-family: $font-condensed;
  font-size: 18px;
  padding: 8px 22px;
  font-variant: small-caps;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  border: none;
  text-decoration: none;
  outline: none;
  overflow: hidden;
  transition: all .17s ease-in-out;

  & + & {
    margin-left: 15px;
  }

  &--gradient {
    background: linear-gradient(to right, $orange, $yellow);
    color: white;
    font-size: 26px;
    letter-spacing: 0.05px;
    padding: 15px 57px;
    font-weight: 500;

    &:hover {
      background: $dark-blue;
    }
  }

  &--orange {
    background: $orange;
    color: white;

    &:hover {
      background: $dark-blue;
    }
  }

  &--white-orange {
    border: 2px solid $orange;
    color: $orange;
    padding: 6px 22px;
    transition: border-color .17s ease-in-out, color .17s ease-in-out;

    &:hover {
      border-color: $dark-blue;
      color: $dark-blue;
    }
  }
}
