.ui-button {
  font-family: $font-condensed;
  font-size: 18px;
  padding: 10px 22px;
  font-variant: small-caps;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  border: none;
  text-decoration: none;
  outline: none;
  overflow: hidden;
  tansition: all .3s linear;

  &--gradient {
    background: linear-gradient(to right, $orange, $yellow);
    color: white;
    font-size: 26px;
    letter-spacing: 0.05px;
    padding: 15px 57px;
    font-weight: 500;

    &:hover {
      background: $dark-blue;
      tansition: all .3s linear;
    }
  }

  &--orange {
    background: $orange;
    color: white;

    &:hover {
      background: $dark-blue;
    }
  }

  &--white-orange {
    border: 2px solid $orange;
    color: $orange;

    &:hover {
      border: 2px solid $dark-blue;
      color: $dark-blue;
    }
  }
}