body {
  background-color: $white-smoke;
}

.ui-header {
  background: linear-gradient(to right, $orange, $yellow);
  padding: 20px 0;
  letter-spacing: 0.2px;
}

.ui-slogan {
  font-family: $font-condensed;
  font-size: 22px;
  line-height: 24px;
  color: white;
  text-align: center;
  font-variant: small-caps;
}

.ui-signin-link {
  padding-left: 25px;
  cursor: pointer;
  font-family: $font-condensed;
  font-size: 18px;
  line-height: 24px;
  color: $dark-blue;
  background: url('../images/unlock.png') no-repeat left center;

  &:hover {
    color: white;
    background-image: url('../images/unlock--white.png')
  }
}

.ui-menu {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  line-height: 30px;
  font-size: 20px;
  letter-spacing: 0.2px;
  text-transform: uppercase;

  &__link {
    cursor: pointer;
    color: $dark-blue;
    text-decoration: none;

    &:hover {
      color: $orange;
    }
  }
}

.ui-footer {
  padding: 30px 0;
  background: $dark-blue;
  font-family: $font-condensed;
  font-size: 20px;
  line-height: 30px;
}

.ui-email, .ui-phone {
  color: white;
  display: block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;

  &:hover {
    color: $orange;
  }
}

.ui-social {
  display: flex;

  &__item {
    font-size: 0;

    & + & {
      margin-left: 15px;
    }
  }

  &__link {
    color: white;
    border: 1px solid;
    display: inline-flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      color: $orange;
    }

    svg {
      height: 22px;
    }
  }
}

.swiper-prev {
  width: 16px;
  height: 30px;
  background: url('../images/left.png') 50% 50% no-repeat;
  background-size: cover;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translate(0, -50%);
}

.swiper-next {
  width: 16px;
  height: 30px;
  background: url('../images/right.png') 50% 50% no-repeat;
  background-size: cover;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translate(0, -50%);
}

.ui-page {
  padding: 50px 0 115px;
}