extends ../extend/default

block variables
    - var title = 'About page';

block main
    main.content(data-page='about')

    .ui-page
        .container
            .row
                .col-12.col-lg-3
                    +sidebar('about')
                .col-12.col-lg-9.pl-0.pr-0
                    .container
                        .row
                            .col-12
                                .ui-heading.ui-heading--default.ui-heading--lvl2 О программе
                    .container.ui-page__section#programm
                        .row
                            .col-12
                                .ui-heading.ui-heading--default.ui-heading--lvl3.ui-heading--point Программа
                        .row
                            .col-12
                                .ui-heading.ui-heading--orange.ui-heading--lvl4 Цели
                        .row
                            .col-12
                                p  С 2012 года в рамках Программы государственной поддержки малого и среднего предпринимательства Минэкономразвития России реализуется проект по созданию и (или) обеспечение деятельности центров молодежного инновационного творчества.
                        .row
                            .col-12
                                .ui-heading.ui-heading--orange.ui-heading--lvl4#tasks Задачи
                        .row
                            .col-12.col-md-6.col-lg-4
                                .ui-blue-cart
                                    .ui-blue-cart__content Обеспечение доступа детей и молодежи к современному оборудованию прямого цифрового производства для реализации, проверки и коммерциализации их инновационных идей;
                            .col-12.col-md-6.col-lg-4
                                .ui-blue-cart
                                    .ui-blue-cart__content Поддержка инновационного творчества детей и молодежи, в том числе в целях профессиональной реализации и обеспечения самозанятости молодежного предпринимательства;
                            .col-12.col-md-6.col-lg-4
                                .ui-blue-cart
                                    .ui-blue-cart__content Техническая и производственная поддержка детей и молодежи, субъектов малого и среднего бизнеса, осуществляющих разработку перспективных видов продукции и технологий;
                        .row
                            .col-12
                                .ui-heading.ui-heading--orange.ui-heading--lvl4#schedule График
                        .row
                            .col-12.col-md-6.col-lg-4
                                .ui-schedule-cart
                                    .ui-schedule-cart__date
                                        .ui-schedule-cart__date-day 16
                                        .ui-schedule-cart__date-month июн
                                        .ui-schedule-cart__date-year 18
                                    .ui-schedule-cart__content
                                        .ui-schedule-cart__title Предварительный этап
                                        .ui-schedule-cart__text Старт приема заявок на участие в программе
                            .col-12.col-md-6.col-lg-4
                                .ui-schedule-cart
                                    .ui-schedule-cart__date
                                        .ui-schedule-cart__date-day 06
                                        .ui-schedule-cart__date-month авг
                                        .ui-schedule-cart__date-year 18
                                    .ui-schedule-cart__content
                                        .ui-schedule-cart__title Отборочный этап
                                        .ui-schedule-cart__text Отбор заявок  поданных на участие в программе
                            .col-12.col-md-6.col-lg-4
                                .ui-schedule-cart
                                    .ui-schedule-cart__date
                                        .ui-schedule-cart__date-day 03
                                        .ui-schedule-cart__date-month сен
                                        .ui-schedule-cart__date-year 18
                                    .ui-schedule-cart__content
                                        .ui-schedule-cart__title Формирование проектов
                                        .ui-schedule-cart__text Планирование работы над проектом с кураторами
                            .col-12.col-md-6.col-lg-4
                                .ui-schedule-cart
                                    .ui-schedule-cart__date
                                        .ui-schedule-cart__date-day 20
                                        .ui-schedule-cart__date-month дек
                                        .ui-schedule-cart__date-year 18
                                    .ui-schedule-cart__content
                                        .ui-schedule-cart__title Промежуточные итоги
                                        .ui-schedule-cart__text Отчет о проделанной работе перед экспертами
                            .col-12.col-md-6.col-lg-4
                                .ui-schedule-cart
                                    .ui-schedule-cart__date
                                        .ui-schedule-cart__date-day 31
                                        .ui-schedule-cart__date-month мар
                                        .ui-schedule-cart__date-year 19
                                    .ui-schedule-cart__content
                                        .ui-schedule-cart__title Сдача своих проектов
                                        .ui-schedule-cart__text Команды сдают свои проекты комиссии
                            .col-12.col-md-6.col-lg-4
                                .ui-schedule-cart
                                    .ui-schedule-cart__date
                                        .ui-schedule-cart__date-day 23
                                        .ui-schedule-cart__date-month апр
                                        .ui-schedule-cart__date-year 19
                                    .ui-schedule-cart__content
                                        .ui-schedule-cart__title Объявление результатов
                                        .ui-schedule-cart__text Объявление результатов и подвод итогов программы
                        .row
                            .col-12
                                p
                                    | Ознакомиться с подробным графиком программы можно в
                                    a(href="#") pdf
                                    | .
                        .row
                            .col-12
                                .ui-heading.ui-heading--orange.ui-heading--lvl4#projects-and-activities Основные проекты и мероприятия
                        .row
                            .col-12
                                .ui-project-list
                                    .ui-project-list__item
                                        .ui-project-cart
                                            .ui-project-cart__title “Горячий” август
                                            .ui-project-cart__text
                                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                                p
                                                    | Подать завку на участие вы можете
                                                    a(href="") здесь
                                                    | .
                                    .ui-project-list__item
                                        .ui-project-cart
                                            .ui-project-cart__title Реконструкция Октябрьской революции
                                            .ui-project-cart__text
                                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                                p
                                                    | Подать завку на участие вы можете
                                                    a(href="") здесь
                                                    | .
                    .container.ui-page__section#members
                        .row
                            .col-12
                                .ui-heading.ui-heading--default.ui-heading--lvl3.ui-heading--point Участники
                        .row
                            .col-12
                                .ui-heading.ui-heading--orange.ui-heading--lvl4 Площадки (школы, вузы)
                        .row
                            .col-12
                                 p Главный тренд современного технологического развития России — инновации. Именно за счет инновационной деятельности предполагается широкое распространение передовых технологий и построение перспективных рынков, призванных обеспечить в ближайшем будущем подъем национальной экономики и высокий уровень развития общества.
                                 p
                                    | Однако, без опоры на человеческий капитал, все эти цели рискуют остаться только на бумаге. Особым носителем, от которого зависят качественные и количественные характеристики развития человеческого капитала, выступает молодежь. Площадками для развития творческого потенциала детей и молодежи, поощрения их интереса к науке и технике, привлечения внимания к сфере инноваций и высоких технологий, развития личностных и профессиональных качеств становятся
                                    a(href="#") ЦМИТы
                                    | &nbsp;(центры молодежного инновационного творчества),
                                    a(href="#") детские технопарки
                                    | &nbsp;«Кванториум» и другие структуры новой системы дополнительного образования.
                        .row
                            .col-12
                                .ui-about-button
                                    a.ui-button.ui-button--orange Стать площадкой
                                    a.ui-button.ui-button--white-orange Все площадки
                        .row
                            .col-12
                                .ui-heading.ui-heading--orange.ui-heading--lvl4 Партнеры
                        .row
                            .col-12.col-md-6.col-lg-3
                                .ui-partner-cart.ui-partner-cart--white
                                    img(src="/static/images/partners/reebok.png", alt="")
                            .col-12.col-md-6.col-lg-3
                                .ui-partner-cart.ui-partner-cart--white
                                    img(src="/static/images/partners/philips.png", alt="")
                            .col-12.col-md-6.col-lg-3
                                .ui-partner-cart.ui-partner-cart--white
                                    img(src="/static/images/partners/sony.png", alt="")
                            .col-12.col-md-6.col-lg-3
                                .ui-partner-cart.ui-partner-cart--white
                                    img(src="/static/images/partners/loreal.png", alt="")
                            .col-12.col-md-6.col-lg-3
                                .ui-partner-cart.ui-partner-cart--white
                                    img(src="/static/images/partners/sberbank.png", alt="")
                            .col-12.col-md-6.col-lg-3
                                .ui-partner-cart.ui-partner-cart--white
                                    img(src="/static/images/partners/tatneft.png", alt="")
                    .container.ui-page__section#program-documents
                        .row
                            .col-12
                                .ui-heading.ui-heading--default.ui-heading--lvl3.ui-heading--point Документы программы
                        .row
                            .col-12
                                .ui-heading.ui-heading--orange.ui-heading--lvl4 Регламенты и Инструкции
                        .row
                            .col-12.col-md-6.col-lg-4
                                .ui-document-cart
                                    .ui-document-cart__icon
                                        img(src="/static/images/pdf.png", alt="")
                                    .ui-document-cart__title Положение программы Steamulus
                            .col-12.col-md-6.col-lg-4
                                .ui-document-cart
                                    .ui-document-cart__icon
                                        img(src="/static/images/pdf.png", alt="")
                                    .ui-document-cart__title Критерии оценки проектов учавствующих в программе Steamulus
                            .col-12.col-md-6.col-lg-4
                                .ui-document-cart
                                    .ui-document-cart__icon
                                        img(src="/static/images/pdf.png", alt="")
                                    .ui-document-cart__title Организационный план-график конкурса в 2018-2019  годах
                            .col-12.col-md-6.col-lg-4
                                .ui-document-cart
                                    .ui-document-cart__icon
                                        img(src="/static/images/pdf.png", alt="")
                                    .ui-document-cart__title Методика подачи завки на участие проекта
                            .col-12.col-md-6.col-lg-4
                                .ui-document-cart
                                    .ui-document-cart__icon
                                        img(src="/static/images/pdf.png", alt="")
                                    .ui-document-cart__title Справка о программе Steamulus
                            .col-12.col-md-6.col-lg-4
                                .ui-document-cart
                                    .ui-document-cart__icon
                                        img(src="/static/images/pdf.png", alt="")
                                    .ui-document-cart__title Прайс комплекта оборудования