extends ../extend/default

block variables
    - var title = 'About page';

block main
    main.content(data-page='about')

    .ui-page
        .container
            .row
                .col-12.col-lg-3
                    +sidebar('about')
                .col-12.col-lg-9.pl-0.pr-0
                    .container
                        .row
                            .col-12
                                .ui-heading.ui-heading--default.ui-heading--lvl2 О программе
                    .container.ui-page__section#programm
                        .row
                            .col-12
                                .ui-heading.ui-heading--default.ui-heading--lvl3.ui-heading--point Программа
                        .row
                            .col-12
                                .ui-heading.ui-heading--orange.ui-heading--lvl4 Цели
                        .row
                            .col-12
                                p  С 2012 года в рамках Программы государственной поддержки малого и среднего предпринимательства Минэкономразвития России реализуется проект по созданию и (или) обеспечение деятельности центров молодежного инновационного творчества.
                        .row
                            .col-12
                                .ui-heading.ui-heading--orange.ui-heading--lvl4#tasks Задачи
                        .row
                            .col-12.col-md-6.col-lg-4
                                .ui-blue-cart
                                    .ui-blue-cart__content Обеспечение доступа детей и молодежи к современному оборудованию прямого цифрового производства для реализации, проверки и коммерциализации их инновационных идей;
                            .col-12.col-md-6.col-lg-4
                                .ui-blue-cart
                                    .ui-blue-cart__content Поддержка инновационного творчества детей и молодежи, в том числе в целях профессиональной реализации и обеспечения самозанятости молодежного предпринимательства;
                            .col-12.col-md-6.col-lg-4
                                .ui-blue-cart
                                    .ui-blue-cart__content Техническая и производственная поддержка детей и молодежи, субъектов малого и среднего бизнеса, осуществляющих разработку перспективных видов продукции и технологий;
                        .row
                            .col-12
                                .ui-heading.ui-heading--orange.ui-heading--lvl4#schedule График
                        .row
                            .col-12.col-md-6.col-lg-4
                                .ui-schedule-cart
                                    .ui-schedule-cart__date
                                        .ui-schedule-cart__date--day 16
                                        .ui-schedule-cart__date--month июн
                                        .ui-schedule-cart__date--year 18
                                    .ui-schedule-cart__content
                                        .ui-schedule-cart__title Предварительный этап
                                        .ui-schedule-cart__text Старт приема заявок на участие в программе
                            .col-12.col-md-6.col-lg-4
                                .ui-schedule-cart
                                    .ui-schedule-cart__date
                                        .ui-schedule-cart__date--day 06
                                        .ui-schedule-cart__date--month авг
                                        .ui-schedule-cart__date--year 18
                                    .ui-schedule-cart__content
                                        .ui-schedule-cart__title Отборочный этап
                                        .ui-schedule-cart__text Отбор заявок  поданных на участие в программе
                            .col-12.col-md-6.col-lg-4
                                .ui-schedule-cart
                                    .ui-schedule-cart__date
                                        .ui-schedule-cart__date--day 03
                                        .ui-schedule-cart__date--month сен
                                        .ui-schedule-cart__date--year 18
                                    .ui-schedule-cart__content
                                        .ui-schedule-cart__title Формирование проектов
                                        .ui-schedule-cart__text Планирование работы над проектом с кураторами
                            .col-12.col-md-6.col-lg-4
                                .ui-schedule-cart
                                    .ui-schedule-cart__date
                                        .ui-schedule-cart__date--day 20
                                        .ui-schedule-cart__date--month дек
                                        .ui-schedule-cart__date--year 18
                                    .ui-schedule-cart__content
                                        .ui-schedule-cart__title Промежуточные итоги
                                        .ui-schedule-cart__text Отчет о проделанной работе перед экспертами
                            .col-12.col-md-6.col-lg-4
                                .ui-schedule-cart
                                    .ui-schedule-cart__date
                                        .ui-schedule-cart__date--day 31
                                        .ui-schedule-cart__date--month мар
                                        .ui-schedule-cart__date--year 19
                                    .ui-schedule-cart__content
                                        .ui-schedule-cart__title Сдача своих проектов
                                        .ui-schedule-cart__text Команды сдают свои проекты комиссии
                            .col-12.col-md-6.col-lg-4
                                .ui-schedule-cart
                                    .ui-schedule-cart__date
                                        .ui-schedule-cart__date--day 23
                                        .ui-schedule-cart__date--month апр
                                        .ui-schedule-cart__date--year 19
                                    .ui-schedule-cart__content
                                        .ui-schedule-cart__title Объявление результатов
                                        .ui-schedule-cart__text Объявление результатов и подвод итогов программы
                        .row
                            .col-12
                                p
                                    | Ознакомиться с подробным графиком программы можно в
                                    a(href="#") pdf
                                    | .