extends ../extend/default

block variables
    - var title = 'About page';

block main
    main.content(data-page='about')

    .ui-page
        .container
            .row
                .col-12.col-lg-3
                    +sidebar('about')
                .col-12.col-lg-9.pl-0.pr-0
                    .container
                        .row
                            .col-12
                                .ui-heading.ui-heading--default.ui-heading--lvl2 О программе
                    .container.ui-page__section#programm
                        .row
                            .col-12
                                .ui-heading.ui-heading--default.ui-heading--lvl3.ui-heading--point Программа
                        .row
                            .col-12
                                .ui-heading.ui-heading--orange.ui-heading--lvl4 Цели
                        .row
                            .col-12
                                p  С 2012 года в рамках Программы государственной поддержки малого и среднего предпринимательства Минэкономразвития России реализуется проект по созданию и (или) обеспечение деятельности центров молодежного инновационного творчества.
                        .row
                            .col-12
                                .ui-heading.ui-heading--orange.ui-heading--lvl4#tasks Задачи