// home page styles
.ui-home-banner {
  background: url('../images/home-banner.png') 50% 50% no-repeat;
  background-size: cover;
  padding: 150px 0 240px;

  &__heading {
    font-family: $font-default;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0.48px;
    color: white;
    text-align: center;
    font-weight: 500;
    font-variant: small-caps;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7);
  }

  &__text {
    font-family: $font-condensed;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.36px;
    font-variant: small-caps;
    text-align: center;
    color: $yellow;
    padding: 50px 0;
  }

  &__button {
    text-align: center;
  }
}

.ui-home-news {
  padding-bottom: 90px;

  &__heading {
    padding-bottom: 56px;
  }
}

.ui-news-cart {
  font-family: $font-default;
  font-size: 15px;
  line-height: 24px;
  font-variant: small-caps;

  &__header {
    padding-bottom: 64.25%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__date {
    color: white;
    padding: 3px 15px;
    display: inline-block;
    background: rgba(22, 51, 90, 0.8);
  }

  &__content {
    padding: 26px 20px;
    background: white;
  }
}